In [1]:
import pandas as pd 
import numpy as np

In [2]:
mydata = pd.read_csv('housePrice.csv')
mydata

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63,1,True,True,True,Shahran,1.850000e+09,61666.67
1,60,1,True,True,True,Shahran,1.850000e+09,61666.67
2,79,2,True,True,True,Pardis,5.500000e+08,18333.33
3,95,2,True,True,True,Shahrake Qods,9.025000e+08,30083.33
4,123,2,True,True,True,Shahrake Gharb,7.000000e+09,233333.33
...,...,...,...,...,...,...,...,...
3474,86,2,True,True,True,Southern Janatabad,3.500000e+09,116666.67
3475,83,2,True,True,True,Niavaran,6.800000e+09,226666.67
3476,75,2,False,False,False,Parand,3.650000e+08,12166.67
3477,105,2,True,True,True,Dorous,5.600000e+09,186666.67
3478,82,2,False,True,True,Parand,3.600000e+08,12000.00

In [3]:
mydata.isnull().sum()

Area           0
Room           0
Parking        0
Warehouse      0
Elevator       0
Address       23
Price          0
Price(USD)     0
dtype: int64

In [4]:
mydata.dtypes

Area           object
Room            int64
Parking          bool
Warehouse        bool
Elevator         bool
Address        object
Price         float64
Price(USD)    float64
dtype: object

In [5]:
mydata['Area'] =pd.to_numeric( mydata.Area ,errors='coerce')
mydata.replace({True:1,False:0},inplace=True)

In [6]:
mydata.dtypes

Area          float64
Room            int64
Parking         int64
Warehouse       int64
Elevator        int64
Address        object
Price         float64
Price(USD)    float64
dtype: object

In [7]:
mydata.isnull().sum()

Area           6
Room           0
Parking        0
Warehouse      0
Elevator       0
Address       23
Price          0
Price(USD)     0
dtype: int64

In [8]:
mydata.drop(index=mydata.Address[mydata.Address.isnull()].index , inplace =True)
mydata.drop(index=mydata.Area[mydata.Area.isnull()].index , inplace =True)
mydata.isnull().sum()

Area          0
Room          0
Parking       0
Warehouse     0
Elevator      0
Address       0
Price         0
Price(USD)    0
dtype: int64

In [9]:
mydata.drop_duplicates(inplace=True)
mydata.shape

(3242, 8)

In [10]:
mydata.reset_index(drop=True,inplace=True)

In [11]:
address = set(mydata.Address)
Address ={}
for i , j in enumerate(address,start=1):
    x ={j:i}
    Address.update(x)
    
number_address = mydata.Address.map(lambda s : Address.get(s) if s in Address else s)
number_address

0        41
1        41
2       149
3         9
4        56
       ...
3237     13
3238      3
3239     28
3240    124
3241      6
Name: Address, Length: 3242, dtype: int64

In [12]:
address = set(mydata.Address)
Address ={}
for i in address : 
    j = mydata[mydata['Address']==i ].Price.sum()/mydata[mydata['Address']==i].Area.sum()
    x = {i:j}
    Address.update(x)

avrage_price = mydata.Address.map(lambda s : Address.get(s)if s in Address else s)
avrage_price

0       3.668519e+07
1       3.668519e+07
2       8.204639e+06
3       1.000572e+07
4       8.625069e+07
            ...
3237    3.738220e+07
3238    3.945778e+07
3239    1.106100e+08
3240    9.718675e+07
3241    6.521264e+06
Name: Address, Length: 3242, dtype: float64

In [13]:
mydata.drop(mydata[(mydata['Area']>500)& (mydata['Room']<4)].index,axis = 0 , inplace=True)

In [14]:
y = np.asarray(mydata['Price'])

In [20]:
for i in mydata.columns[6:] :
    mydata.drop(i , axis = 1 , inplace=True)
mydatax

       Area  Room  Parking  Warehouse  Elevator  Address
0      63.0     1        1          1         1       41
1      60.0     1        1          1         1       41
2      79.0     2        1          1         1      149
3      95.0     2        1          1         1        9
4     123.0     2        1          1         1       56
...     ...   ...      ...        ...       ...      ...
3237   63.0     1        1          1         0       13
3238   86.0     2        1          1         1        3
3239   83.0     2        1          1         1       28
3240  105.0     2        1          1         1      124
3241   82.0     2        0          1         1        6

[3233 rows x 6 columns]

In [21]:
mydata['avg_price']=avrage_price
mydata['Address']= number_address

In [22]:
mydata

       Area  Room  Parking  Warehouse  Elevator  Address     avg_price
0      63.0     1        1          1         1       41  3.668519e+07
1      60.0     1        1          1         1       41  3.668519e+07
2      79.0     2        1          1         1      149  8.204639e+06
3      95.0     2        1          1         1        9  1.000572e+07
4     123.0     2        1          1         1       56  8.625069e+07
...     ...   ...      ...        ...       ...      ...           ...
3237   63.0     1        1          1         0       13  3.738220e+07
3238   86.0     2        1          1         1        3  3.945778e+07
3239   83.0     2        1          1         1       28  1.106100e+08
3240  105.0     2        1          1         1      124  9.718675e+07
3241   82.0     2        0          1         1        6  6.521264e+06

[3233 rows x 7 columns]

In [23]:
X = mydata 
from sklearn.preprocessing import scale
x = scale(X)

In [24]:
x

array([[-0.67549701, -1.42229262,  0.42772554, ...,  0.51993652,
        -0.90339607, -0.23882138],
       [-0.72253132, -1.42229262,  0.42772554, ...,  0.51993652,
        -0.90339607, -0.23882138],
       [-0.4246473 , -0.11447918,  0.42772554, ...,  0.51993652,
         0.99647315, -1.23653309],
       ...,
       [-0.36193488, -0.11447918,  0.42772554, ...,  0.51993652,
        -1.13208403,  2.35086243],
       [-0.01701654, -0.11447918,  0.42772554, ...,  0.51993652,
         0.5566886 ,  1.88062901],
       [-0.37761299, -0.11447918, -2.33794782, ...,  0.51993652,
        -1.51909443, -1.29550398]])

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [30]:
x_train , x_test , y_train , y_test = train_test_split(x,y ,test_size=0.2 , random_state=30)
reg = LinearRegression()
reg.fit(x_train , y_train)
y_pred = reg.predict(x_test)

In [32]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
mse

1.6719472437082583e+19

In [35]:
score_train = reg.score(x_train , y_train)
score_test =reg.score(x_test,y_test)
print('score train :',score_train)
print('score test:',score_test)

score train : 0.7419098433661779
score test: 0.7718545668102028

In [36]:
from sklearn.linear_model import Ridge

In [38]:
ridge = Ridge(alpha = 0.1)
ridge.fit(x_train,y_train)
ridge_pred = ridge.predict(x_test)
ridge_mse = mean_squared_error(y_test , ridge_pred)
ridge_mse

1.6719825970312057e+19

In [40]:
ridge_score = ridge.score(x_train , y_train)
ridge_score

0.741909841770954

In [41]:
from sklearn.linear_model import Lasso

In [42]:
lasso = Lasso(alpha = 0.1)
lasso.fit(x_train,y_train)
lasso_pred = lasso.predict(x_test)
lasso_mse = mean_squared_error(y_test , ridge_pred)
lasso_mse

1.6719825970312057e+19

In [44]:
lasso_score_train = lasso.score(x_train , y_train)
lasso_score_train

0.7419098433661779

In [45]:
lasso_score_test = lasso.score(x_test , y_test)
lasso_score_test

0.7718545668059641